name: SecureSDLC SAST
run-name: "[SecureSDLC SAST] Ref:${{ github.ref_name }} Event:${{ github.event_name }}"

on:
  workflow_dispatch: {}
  workflow_call:
    secrets:
      SEMGREP_APP_URL:
        required: true
      SEMGREP_APP_TOKEN:
        required: true
      SDLC_SLACK_NOTIFICATIONS:
        required: false
  pull_request: {}
  # pull_request_target: {} # Gives workflows excessive permissions. Not wanted.
  push: # Used for local testing.
    branches:
      - '**' 

jobs:
  securesdlc-visibility-check:
    name: Repo visibility check
    continue-on-error: true 
    runs-on: ubuntu-24.04
    permissions:
      contents: read # for actions/checkout to fetch code
    env:
      GITHUB_REF_NAME: ${{ github.ref_name }}
      GITHUB_DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
      GITHUB_EVENT_NAME: ${{ github.event_name }}
    outputs:
      visibility: ${{ steps.get_visibility.outputs.visibility }}
    steps:
      - name: Init
        run: |
          echo $GITHUB_REF_NAME
          echo $GITHUB_DEFAULT_BRANCH
          echo $GITHUB_EVENT_NAME

      - name: Get Repository Visibility
        id: get_visibility
        uses: actions/github-script@v6
        with:
          script: |
            const { data: repo } = await github.rest.repos.get({
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            // The 'visibility' field can be 'public', 'private', or 'internal'
            const visibility = repo.visibility;
            console.log(`Repository visibility: ${visibility}`);
            core.setOutput('visibility', visibility);

      - name: Display Visibility
        run: echo "Repository visibility is ${{ steps.get_visibility.outputs.visibility }}"

  semgrep:
    name: SecureSDLC SAST
    continue-on-error: true    
    needs: [securesdlc-visibility-check]
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/nautilus-wraith/docker-semgrep/semgrep:1.124.0
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    env:
      SEMGREP_APP_URL: ${{ secrets.SEMGREP_APP_URL }}
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
      LAST_COMMITTER: ${{ github.actor }}
      GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Identify the last Committer
        run: |
          # Shortening last committer. Some committers are bots with long names or not permitted chars
          LAST_COMMITTER_SHORTENED=$(echo "${LAST_COMMITTER:0:26}")
          echo "LAST_COMMITTER_SHORTENED=$LAST_COMMITTER_SHORTENED" >> "$GITHUB_ENV"
      - name: Generate Semgrep Tags
        run: |
          exit 1
          echo "Overwriting .semgrepconfig.yml"
          cat <<EOF > .semgrepconfig.yml
          tags:
            - GitHub Action
            - Last Committer $LAST_COMMITTER_SHORTENED
            - $GITHUB_REPOSITORY_OWNER
          EOF

      - name: Run Semgrep SAST scan # suppressed output
        timeout-minutes: 10
        run: semgrep ci --code --metrics off --no-suppress-errors --use-git-ignore --sarif --output semgrep.sarif > /dev/null 2>&1 || true

      - name: Create empty SARIF if none exists
        run: |
          if [ ! -f semgrep.sarif ]; then
            echo "No semgrep.sarif found, creating empty SARIF file"
            cat <<EOF > semgrep.sarif
          {
            "version": "2.1.0",
            "runs": [
              {
                "tool": {
                  "driver": {
                    "name": "Semgrep",
                    "version": "1.0.0",
                    "rules": []
                  }
                },
                "results": []
              }
            ]
          }
          EOF
          fi


      # https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning
      - name: Convert SARIF levels to severities
        run: |
          jq '(.runs[].tool.driver.rules[]?) |=
            (.properties["security-severity"] =
              (if .defaultConfiguration.level == "error" then "8.0"
              elif .defaultConfiguration.level == "warning" then "6.0"
              elif .defaultConfiguration.level == "note" then "3.0"
              else "0.0" end)
            )' semgrep.sarif > semgrep-severities-updated.sarif

      - name: Convert SARIF tool name
        run: |
          jq '(.runs[].tool.driver.name) = "Code (SecureSDLC)"' semgrep-severities-updated.sarif > semgrep-tool-name-updated.sarif

      - name: Convert Vulnerability name in the dashboard
        run: |
          jq '
            .runs[0].tool.driver.rules[] |=
              if .shortDescription.text | startswith("Semgrep Finding: ") then
                .shortDescription.text = (
                  .shortDescription.text |
                  ltrimstr("Semgrep Finding: ") |  # Remove prefix
                  split(".") |                    # Split by dots
                  .[-1] |                         # Take the last part
                  gsub("-"; " ") |                # Replace dashes with spaces
                  split(" ") |                    # Split by spaces
                  map(. as $w | ($w[0:1] | ascii_upcase) + ($w[1:])) |  # Capitalize first letter
                  join(" ")                       # Join back with spaces
                )
              else
                .
              end
          ' semgrep-tool-name-updated.sarif > semgrep-final.sarif
         
      - name: Upload Semgrep artifact
        if: ${{ needs.securesdlc-visibility-check.outputs.visibility != 'public' }}
        uses: actions/upload-artifact@v4
        with:
          name: Semgrep SAST scan results
          path: semgrep-final.sarif
          retention-days: 5
          
      # Fails gracefully for private repos when GitHub Advanced Security is not enabled. We can not split dashbaord and PR annotations - be careful about public PRs.
      - name: Publish findings to the dashboard and annotate PRs # allowed for non-public repos and public repos only when not a PR
        if: ${{ needs.securesdlc-visibility-check.outputs.visibility != 'public' || (needs.securesdlc-visibility-check.outputs.visibility == 'public' && github.event_name == 'push' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)) }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep-final.sarif

      - name: Notify in Slack on failure
        if: failure()
        env:
          SLACK_WEBHOOK: ${{ secrets.SDLC_SLACK_NOTIFICATIONS }}
        uses: nautilus-wraith/securesdlc-helpers/.github/actions/healthcheck@release-stable
        with:
          github_workflow: ${{ github.workflow }}
          github_repository: ${{ github.repository }}
          github_run_id: ${{ github.run_id }}
          step_conclusion: ${{ steps.failing.conclusion }}
          slack_webhook: ${{ secrets.SDLC_SLACK_NOTIFICATIONS }}          

